/* header */
header{
    background-color: #17252A;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:800;
    font-size: 25px;
}
/*body*/
body{
    background-color: #257571;
    width: 100%;
    height: 100vh;
    align-items: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding: 4% 10%;
}
label{
    font-size: 23px;
    color: #fdfdfd;
    font-weight: bold;
}
#dropDown{
  width: 57%;
  height: 43px;
}
.product-input{
    width: 55%;
    height: 30px;
    border-radius: 5px;
    border: solid 1px #000000;
    padding: 5px;
    font-size: 20px;
    background-color: #f8f8f8e7;
      position: relative;
  left: 20%;
}
.product-input:focus{
    outline: none;
    border: solid 1px #000000;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.938);
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.col-1{
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    background-color: #144945bf;
    padding: 30px 20px;
    border-radius: 10px;
}
.col-1 label{
    font-size: 20px;
    color: #d1d6d7;
    font-weight: bold;
    position: relative;
    left: 20%;
}
.col-1 button{
    position: relative;
    left: 30%;
        width: 40%;
}
.col-1 form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.col-2{
    flex-basis: 60%;
}
.col-2 button{
    position: relative;
    left: 33%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  font-size: 17px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #2B7A78;
  color: #fff;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f3f3f3;
}
button{
    background-color: #17252A;
    color: #FEFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 30%;
}
button:hover {
  background-color:  rgba(40, 60, 67, 0.493);
  box-shadow: #cfd0d0 0px 0px 10px;
  border: 1px solid #ffffff;
  color: rgb(255, 255, 255);
}

#remove-btn{
   background-color: #17252A;
    color: #FEFFFF;
    border: none;
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    width: 85px;
}
#remove-btn:hover {
  background-color:  rgba(40, 60, 67, 0.493);
  box-shadow: #cfd0d0 0px 0px 10px;
  border: 1px solid #ffffff;
  color: rgb(255, 255, 255);
}
.invoice-summary{
    background-color: #DEF2F1;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.temporary-field{
  padding: 60px 20px;
  border-radius: 5px;
  border: 1px solid #ffffff;
}
#invoice-summary{
    width: 50%;
    position: relative;
    left: 50%;
}

input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 18px;
  width: 250px;
  color: #333;
  background-color: #fdfdfd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s, box-shadow 0.3s;

}
/*button disability*/
.disabled-btn {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  border: 1px solid #999;
}
.disabled-btn:hover {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  box-shadow: none;
  border: none;
}
.warning-message{
    color: rgb(241, 234, 234);
    font-size: 15px;
    font-weight: bold;
    position: relative;
    left: 10px;
    background-color: #c50808;
    border-radius:5px;
    padding: 5px 8px;
    width: 240px;
    margin: 10px 0;
}

