<header>
  <h1>MC Comouters</h1>
</header>

<body>

  <div class="container">

    <div class="row">
      <div class="col-1">
        <form #itemForm="ngForm">
          <label for="item">Product Name:</label>
          <div>
            <select class="product-input" [(ngModel)]="selectedProductName" (change)="onProductSelect()"
              name="productName" required>
              <option *ngFor="let product of products" [value]="product.productName">
                {{ product.productName }}
              </option>
            </select>
          </div>

          <div>
            <label>Quantity:</label><br><br>
            <input class="product-input" type="number" [(ngModel)]="quantity" name="quantity" required />
          </div>

          <div>
            <label>Discount:</label><br><br>
            <input class="product-input" type="number" [(ngModel)]="discount" name="discount" required />
          </div><br>

          <div>
            <button class="btn" type="button" (click)="addItem()">Add Item</button>
          </div>

        </form>

      </div>

      <div class="col-2 " >
        <!-- Temporary Table of Items -->

        <div class="invoice-summary">
                  <h1>Invoice Items</h1>
        <table>
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>Discount</th>
              <th>UintPrice</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items; let i = index">
              <td>{{ item.productName }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.discount }}</td>
              <td>{{ item.unitPrice }}</td>
              <td><button (click)="removeItem(i)">Remove</button></td>
            </tr>
          </tbody>
        </table>
        </div><br>
        <!-- Final Invoice Form -->
        <form (ngSubmit)="submit()" #invoiceForm="ngForm">
          <label>Transaction Date  </label>
          <input type="date" [(ngModel)]="transactionDate" name="transactionDate" required /><br><br>

          <div *ngIf="transactionDate > today" style="color: red;">
    Future dates are not allowed.
  </div>
          <button class ="btn" id="create-invoice" type="submit" 
          [disabled]="transactionDate > today"
          [ngClass]="{'disabled-btn': transactionDate > today}"
          >Create Invoice</button>
        </form>

        <!-- <div *ngIf="showInvoiceSummary"> -->
        <div class="invoice-summary">

          <h1>Invoice</h1>
          <p>Invoice Number : {{invoiceId}}</p>
          <p>transaction Date : {{transactionDate}}</p>
          <table border="1">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Price Per Unit</th>
                <th>Quantity</th>
                <th>Discount (%)</th>
                <th>Total Price</th>
                <th>Discounted Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of invoiceItems">
                <td>{{ item.productName }}</td>
                <td>{{ item.unitPrice }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.discount }}</td>
                <td>{{ item.totalPrice }}</td>
                <td>{{ item.discountedPrice }}</td>
              </tr>
            </tbody>
          </table>
          <table id="invoice-summary" >
            <thead>
            <tr>
              <th>Invoice ID</th>
              <th>Total Amount</th>
              <th>Balance Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{ invoiceId }}</td>
              <td>{{ totalAmount }}</td>
              <td>{{ balanceAmount }}</td>
            </tr>
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
</body>